   div{
            background-color: gray;
        }
        p b{
            background-color: brown;
        }
        p i{
            background-color: green;
        }
        p{
            color:white;
        }